{% extends 'layouts.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Tee Booking Scheduler
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Advance Tee Booking System</h1>
	<p class="", id="welcome">Welcome, {{user}}</p>
      <p class="lead" style="font-size:100%;">Please use the form below to schedule in a tee time in advance of the standard booking schedule</p>
	  <h1 id="test_status"></h1>
	  <form class="form-inline" method="POST">
		<div id="booking_form_class" class="alert alert-dark" role="alert">
			<fieldset>
			{{ form.csrf_token }}
			<p id="booking_date_field">
				{{ form.booking_date.label}}
				{{ form.booking_date }}
			</p>
			<!-- find a way of making this invisible until a date is available-->
			<p id="booking_time_field">
				{{ form.booking_time.label }}
				{{ form.booking_time }}
			</p>
			<p id="test_field" style="display: none;">
				No tee times available
			</p>
			<p>
				{{ form.submit }}
			</p>
			</div>
		</fieldset>
	  <script>
		// this is to inject the HTML to update the tee times
		// if json is null then NO BOOKING TIMES AVAILABLE
		// 
		var todays_date = new Date();
		// other vars
		let booking_date_selection = document.getElementById('booking_date');
		let booking_time_selection = document.getElementById('booking_time');
		let booking_time_field = document.getElementById('booking_time_field');
		let booking_form_class = document.getElementById('booking_form_class');

		// need a way of selecting the starting state!

		// state 0: booking is inactive. is in the past or no tee times available. DANGER & HIDDEN.
		// state 1: booking is active. is not in the past, tee times are available to book now. SUCCESS & ACTIVE.
		// state 2: booking is active. is not in hte past, tee times are available to pre-book. WARNING & ACTIVE.

		// todo: 1) fix current state, fix other states, fix submission. ticket done.
		// repeated code is bad, but fix it later. who cares for now.

		// move all JS into its own file: https://www.digitalocean.com/community/tutorials/how-to-add-javascript-to-html

		// parses the JSON for tee booking converts it into a HTML object 

		async function getBookingTimeOptions(booking_date_str) {
			const response = await fetch(`/booking_time/${booking_date_str}`);
			const data = await response.json();

			let optionHTML = '';
			for (let booking_time of data.booking_times) {
				optionHTML += `<option value="${booking_time.id}">${booking_time.name}</option>`;
			}
			return optionHTML
		}

		function getBookingTimes(booking_date_str) {
			var xhr = new XMLHttpRequest();
			xhr.open('GET', `/booking_time/${booking_date_str}`, false);
			xhr.send();
			if (xhr.status == 200) {
				var response = xhr.responseText;
				var data = JSON.parse(response);
				return data.booking_times;
			}
		}

		// this populates the SelectField on page load - this is chained, which is bad. convert to async later
		window.onload = async function () {
			const booking_date_str = booking_date_selection.value; // this should come from python
			let booking_time_options_html = getBookingTimeOptions(booking_date_str);
			let booking_times_count = getBookingTimes(booking_date_str).length;
			booking_time_options_html.then(html => booking_time_selection.innerHTML = html);

			var tee_times_unavailable = (booking_times_count == 0)
			var tee_times_available = (booking_times_count != 0)

			if (tee_times_available) {
				document.getElementById('test_field').style = "display: none;";
				booking_time_field.style = "";
				booking_form_class.className = "alert alert-success";
			} else {
				document.getElementById('test_field').style = ""
				booking_time_field.style = "display: none;";
				booking_form_class.className = "alert alert-danger";
			}
			
		};

		// this populates the SelectField on update of the DateField
		booking_date_selection.onchange = async function () {
			const booking_date_str = booking_date_selection.value; // this should come from python
			let booking_time_options_html = getBookingTimeOptions(booking_date_str);
			let booking_times_count = getBookingTimes(booking_date_str).length;
			booking_time_options_html.then(html => booking_time_selection.innerHTML = html);
			
			// document.getElementById('test_field').innerText = booking_times_count.length

			var tee_times_unavailable = (booking_times_count == 0)
			var tee_times_available = (booking_times_count != 0)

			if (tee_times_available) {
				document.getElementById('test_field').style = "display: none;";
				booking_time_field.style = "";
				booking_form_class.className = "alert alert-success";
			} else {
				document.getElementById('test_field').style = ""
				booking_time_field.style = "display: none;";
				booking_form_class.className = "alert alert-danger";
			}
		};

	  </script>


    </div>
  </div>
</div>
{% endblock content %}

<!--
	TIPS about using Flask-Bootstrap:
	Flask-Bootstrap keeps the default Bootstrap stylesheet in the
	env/lib/python3.8/site-packages/flask_bootstrap/static/css/ directory.
	You can replace the CSS file. HOWEVER, when you reinstall requirements
	for your project, you would overwrite all the Bootstrap files
	with the defaults.
	Flask-Bootstrap templates are in
	env/lib/python3.8/site-packages/flask_bootstrap/static/templates
	Modifying the Bootstrap base.html template: use directives and
	Jinja2's super() function. See Jinja2 documentation and also this:
	https://pythonhosted.org/Flask-Bootstrap/basic-usage.html
-->