{% extends 'layouts.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Tee Booking Scheduler
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Advance Tee Booking System</h1>
	<p class="", id="welcome">Welcome, {{user}}</p>
      <p class="lead" style="font-size:100%;">Please use the form below to schedule in a tee time in advance of the standard booking schedule</p>
	  <h1 id="test_status"></h1>
	  <form class="form-inline" method="POST">
		<div id="booking_form_class" class="alert alert-dark" role="alert">
			<fieldset>
			{{ form.csrf_token }}
			<p id="booking_date_field">
				{{ form.booking_date.label}}
				{{ form.booking_date }}
			</p>
			<!-- find a way of making this invisible until a date is available-->
			<p id="booking_time_field">
				{{ form.booking_time.label }}
				{{ form.booking_time }}
			</p>
			<p id="test_field" style="display: none;">
				No tee times available
			</p>
			<p>
				{{ form.submit }}
			</p>
			</div>
		</fieldset>
		<script src="{{url_for('static', filename='main.js')}}"></script>


    </div>
  </div>
</div>
{% endblock content %}

<!--
	TIPS about using Flask-Bootstrap:
	Flask-Bootstrap keeps the default Bootstrap stylesheet in the
	env/lib/python3.8/site-packages/flask_bootstrap/static/css/ directory.
	You can replace the CSS file. HOWEVER, when you reinstall requirements
	for your project, you would overwrite all the Bootstrap files
	with the defaults.
	Flask-Bootstrap templates are in
	env/lib/python3.8/site-packages/flask_bootstrap/static/templates
	Modifying the Bootstrap base.html template: use directives and
	Jinja2's super() function. See Jinja2 documentation and also this:
	https://pythonhosted.org/Flask-Bootstrap/basic-usage.html
-->