{% extends 'layouts.html' %}
{% block content %}
<div class="container-sm">
    <div class="card text-center">
        <div class="card-header">
        Current bookings
        </div>
        <div id="example-table"></div>
    </div>
  </div>

  <h1 id="will-this-work"></h1>
  <!-- <h1>{{booking_data}}</h1> -->

<link href="static/tabulator/css/tabulator_bootstrap5.min.css" rel="stylesheet">
<script type="text/javascript" src="static/tabulator/js/tabulator.min.js"></script>
<script>
var tabledata = {{ booking_data | tojson | safe}};
var tabledata_items = JSON.parse(tabledata)['Items'];

//initialize table
var table = new Tabulator("#example-table", {
    layout:"fitColumns",
    data:tabledata_items, //assign data to table
    columns:[
        {title:"transaction_id", field:"transaction_id"},
        {title:"booking_date", field:"booking_date"},
        {title:"booking_time", field:"booking_time"},
        {title:"username", field:"username"},
        {title:"course_id", field:"course_id"}
    ]
});
</script>


<!-- <script src="{{url_for('static', filename='main.js')}}"></script> -->
{% endblock content %}